version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/website"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "weekly"
